//VARIABLES UL
$ulMargin:0;
$ulpadding:0;
$styleUl: none;

//VARIABLES PARA LAS CARDS
$card1:pink;

//FONDOCOLOR BOTON
$fondoBody:#edbe9a;
$fondoNav:rgb(175, 107, 240);

//VARIABLES BOTON
$primary-color:#faa05a;
$secondary-color: blue;

//VARIABLE DIV
$divBorder:border 4px;



//VARIABLE IMAGEN
$sizeImg:200px;

//VARIABLES TITULO
$tituloColor:orangered;
$tituloPorte:30px;

//VARIABLES PARRAFO
$sizeParrafo:20px;
$fondoParrafo:orangered; 