.contenedor__titulo{
    font-size: $tituloPorte;
    color: $tituloColor;

}
.contenedor__parrafo{
    background-color:$fondoParrafo;
    font-size: $sizeParrafo;
    font-family: $familyParrafo;
    
}